# 0. Импорт библиотек

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
import warnings
warnings.filterwarnings("ignore")

# 1. Препроцессинг

In [7]:
# upload data and look on it
eurusd = pd.read_csv('data_eurusd.csv', index_col=0)
eurusd

                    period    open    high     low   close   returns
1      1999-04-08 11:00:00  1.0803  1.0817  1.0797  1.0809       NaN
2      1999-04-08 12:00:00  1.0808  1.0821  1.0806  1.0807 -0.018505
3      1999-04-08 13:00:00  1.0809  1.0814  1.0801  1.0813  0.055504
4      1999-04-08 14:00:00  1.0819  1.0845  1.0815  1.0844  0.286282
5      1999-04-08 15:00:00  1.0839  1.0857  1.0832  1.0844  0.000000
...                    ...     ...     ...     ...     ...       ...
99231  2015-04-07 14:00:00  1.0857  1.0877  1.0855  1.0858  0.000000
99232  2015-04-07 15:00:00  1.0859  1.0859  1.0841  1.0849 -0.082923
99233  2015-04-07 16:00:00  1.0848  1.0871  1.0845  1.0868  0.174978
99234  2015-04-07 17:00:00  1.0867  1.0884  1.0856  1.0858 -0.092056
99235  2015-04-07 18:00:00  1.0857  1.0865  1.0837  1.0848 -0.092140

[99235 rows x 6 columns]

In [4]:
eurusd = eurusd[['period', 'open', 'close']]
eurusd

                    period    open   close
1      1999-04-08 11:00:00  1.0803  1.0809
2      1999-04-08 12:00:00  1.0808  1.0807
3      1999-04-08 13:00:00  1.0809  1.0813
4      1999-04-08 14:00:00  1.0819  1.0844
5      1999-04-08 15:00:00  1.0839  1.0844
...                    ...     ...     ...
99231  2015-04-07 14:00:00  1.0857  1.0858
99232  2015-04-07 15:00:00  1.0859  1.0849
99233  2015-04-07 16:00:00  1.0848  1.0868
99234  2015-04-07 17:00:00  1.0867  1.0858
99235  2015-04-07 18:00:00  1.0857  1.0848

[99235 rows x 3 columns]

# 2. Цены активов на периоде исследования

In [5]:
eurusd['avg'] = eurusd.apply(lambda x: np.mean((x.open, x.close)), axis=1)

In [6]:
eurusd.head()

                period    open   close      avg
1  1999-04-08 11:00:00  1.0803  1.0809  1.08060
2  1999-04-08 12:00:00  1.0808  1.0807  1.08075
3  1999-04-08 13:00:00  1.0809  1.0813  1.08110
4  1999-04-08 14:00:00  1.0819  1.0844  1.08315
5  1999-04-08 15:00:00  1.0839  1.0844  1.08415

# 3. Использование библиотек

In [8]:
import utils

In [11]:
utils.plot_candles(eurusd, 0.0001)

TypeError: cannot do positional indexing on Int64Index with these indexers [9.9235] of type float